* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.keyboard {
	display: flex;
	align-items: stretch;
	gap: 16px;
	padding: 24px;
	background-color: #9082ad;
	border-radius: 8px;
	border-bottom: 8px solid #4d4d4d;
}

.symbols {
	display: grid;
	grid-template-columns: repeat(15, 50px);
	grid-template-rows: repeat(6, 50px);
}

.manage {
	display: grid;
	grid-template-columns: repeat(3, 50px);
	grid-template-rows: repeat(6, 50px);
}

.num {
	display: grid;
	grid-template-columns: repeat(4, 50px);
	grid-template-rows: repeat(6, 50px);
}

.key {
	border-radius: 8px;
	border-width: 4px;
	border-bottom-width: 8px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	border-top-width: 0px;
	background-color: #d9ccf3;
	transform: translateY(0) scale(1);
	transition: transform 0.3s, border-color 0.3s, background-color 0.3s;
	border-color: #b59292;
	border-style: solid;
	border-bottom-color: #7e6666;
}

.key:active {
	transform: translateY(4px) scale(0.95);
	border-color: #775b5b;
	background-color: #c5b7e0;
}

.backspace {
	grid-column: 2 span;
}

.tab {
	grid-column: 2 span;
}

.capsLock {
	grid-column: 2 span;
}

.enter {
	grid-column: 2 span;
}

.shiftR {
	grid-column: 2 span;
}

.shiftL {
	grid-column: 3 span;
}

.space {
	grid-column: 9 span;
}

.plus {
	grid-row: 2 span;
}

.numEnter {
	grid-row: 2 span;
}

.zero {
	grid-column: 2 span;
}
